* {
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.branco{
    color: white;
}

.header{
    background-color: rgb(120, 77, 13);
    text-align: center;
}

h1{
    color: white;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn:hover {
    color: rgb(0, 0, 0);
}

.menu,
.logo{
    padding-bottom: 10px;
}

a, a:visited{
    color: white;
    text-decoration: none;
    padding: 8px 12px;
}

a:hover{
    background-color: white;
    color: rgb(120, 77, 13);
}

.container{
    width: 920px;
    margin: 0 auto;
    padding: 20px;
}

.posts{
    width: 660px;
    background-color: bisque;
    float: left;
}

.post{
    padding: 20px;
}

h2{
    color: blue;
}

.data-post{
    font-size: 0.8em ;
    margin-bottom: 15px;
    display: block;
}

.barra-lateral{
    width: 240px;
    background-color: red;
    float: right;
}